---
http_interactions:
- request:
    method: post
    uri: http://dev.iletimerkezi.com/index.php?function=api&obj1=getSmsHeader&special_password=_Arg_ns_mmm&special_username=Ns_eemsm
    body:
      encoding: UTF-8
      string: "<smsApi><userInfo><userName>USERNAME</userName><userPassword>PASSWORD</userPassword><smsType>2</smsType></userInfo></smsApi>"
    headers:
      Content-Type:
      - text/xml;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<smsHeaderInfo><headerInfo>BAR</headerInfo><headerInfo>FOO</headerInfo></smsHeaderInfo>"
  recorded_at: Tue, 15 Sep 2020 08:00:07 GMT
recorded_with: VCR 6.0.0
