---
http_interactions:
- request:
    method: post
    uri: http://dev.iletimerkezi.com/index.php?function=api&obj1=getUserInfo&special_password=_Arg_ns_mmm&special_username=Ns_eemsm
    body:
      encoding: UTF-8
      string: "<userInfo><userName>USERNAME</userName><userPassword>PASSWORD</userPassword></userInfo>"
    headers:
      Content-Type:
      - text/xml;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "\n\t\t\t\t<userInfo>\n\t\t\t\t\t<name_surname>Name</name_surname>\n\t\t\t
        \ \t\t<tc_number></tc_number>\n\t\t\t  \t\t<title></title>\n\t\t\t  \t\t<email></email>\n\t\t\t
        \ \t\t<gsm>USERNAME</gsm>\n\t\t\t  \t\t<password>123456</password>\n\t\t\t
        \ \t\t<commercial_title></commercial_title>\n\t\t\t  \t\t<gsm2></gsm2>\n\t\t\t
        \ \t\t<phone_number></phone_number>\n\t\t\t  \t\t<fax_number></fax_number>\n\t\t\t
        \ \t\t<bill_address></bill_address>\n\t\t\t  \t\t<zone></zone>\n\t\t\t  \t\t<city></city>\n\t\t\t
        \ \t\t<zip></zip>\n\t\t\t  \t\t<charge_home></charge_home>\n\t\t\t \t\t<charge_number></charge_number>\n\t\t\t\t</userInfo>\n\t\t\t\t"
  recorded_at: Tue, 15 Sep 2020 08:00:08 GMT
recorded_with: VCR 6.0.0
